.carousel-wrapper  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.previous, .next {
    width: 0;
    height: 0;
}

.previous img, .next img {
    width: 0;
    height: 0;
}

.current img {
    max-width: 60vw;
    max-height: 50vh;
}

.floatright img {
    animation: rightFloat 0.8s
}

@keyframes rightFloat {

    0% {
        transform: translateX(0vw);
    }


    100% {
        transform: translateX(100vw);
    }

   
}