.carousel-wrapper  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@keyframes rightanimate {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}

img {
    max-width: 50vw;
    max-height: 50vh;
}


.active {
    opacity: 1;;
    transform: translateX(0rem);
}

.inactive {
    opacity: 0;
}

.floatright {
    animation: rightanimate 0.5s ease-in-out 0.1s;
}